{% extends 'base.html' %}
{% load static %}

{% block title %}Запись к логопеду | Damuway{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/logoped/logoped.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1>🗓 Запись к {{ logoped.name }}</h1>

  <form method="post" class="styled-form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.child_age_group.label_tag }}
      {{ form.child_age_group }}
    </div>
    <div class="form-group">
      {{ form.date.label_tag }}
      {{ form.date }}
    </div>
    <div class="form-group">
      {{ form.time.label_tag }}
      {{ form.time }}
    </div>
    <button type="submit" class="submit-btn">Записаться</button>
  </form>
</div>
{% endblock %}
