{% extends 'base.html' %}
{% load static %}

{% block title %}Создать запись | Damuway{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/logoped/logoped.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1>📅 Бронирование к {{ logoped.name }}</h1>

  <form method="post" class="styled-form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.date_time.label_tag }}
      {{ form.date_time }}
    </div>
    <button type="submit" class="submit-btn">Создать запись</button>
  </form>
</div>
{% endblock %}
