{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="hero">
    <div class="ellipse"></div>
    <div class="content">
        <h1>{% trans "DAMUWAY – растем вместе, шаг за шагом!" %}</h1>
        <p>{% trans "Мы собрали экспертные материалы, рекомендации и вдохновляющие идеи для родителей." %}</p>
    </div>
    <div class="image">
        <img src="{% static '/media/home/img1.png' %}" alt="{% trans 'Родители и дети' %}">
    </div>
</div>

<div class="info-section">
    <div class="image">
        <img src="{% static '/media/home/img2.png' %}" alt="{% trans 'Ребенок с книгами' %}">
    </div>
    <div class="content">
        <p>{% trans "Быть родителем – это невероятное приключение, полное радости, открытий и, конечно, множества вопросов. Где найти лучший детский сад? Как развивать малыша с ранних лет? Какие книги помогут ему расти умным и счастливым?" %}</p>
    </div>
</div>

<div class="info-section">
    <div class="content">
        <p>{% trans "DAMUWAY – это больше, чем просто сайт. Это пространство, созданное для молодых родителей, которые хотят дать своим детям лучшее. Мы собрали актуальную информацию, проверенные советы, полезные материалы и вдохновляющие идеи – все, что нужно для уверенности в каждом шаге родительства." %}</p>
    </div>
    <div class="image">
        <img src="{% static '/media/home/img3.png' %}" alt="{% trans 'Счастливая семья' %}">
    </div>
</div>

<section class="features-section">
  <div class="container">
    <div class="features-title">
      <span class="badge">
        <i class="fas fa-chart-line"></i> {% trans "Что вас ждет на" %} <strong>DAMUWAY?</strong>
      </span>
    </div>
    <div class="features-grid">
      <ul>
        <li><i class="fas fa-check-circle"></i> {% trans "Полезные статьи и рекомендации от экспертов" %}</li>
        <li><i class="fas fa-check-circle"></i> {% trans "Список проверенных детских садов и развивающих центров" %}</li>
      </ul>
      <ul>
        <li><i class="fas fa-check-circle"></i> {% trans "Подборки лучших книг и развивающих игр" %}</li>
        <li><i class="fas fa-check-circle"></i> {% trans "Уникальные лайфхаки и советы для родителей" %}</li>
      </ul>
    </div>
  </div>
</section>

<div class="cta">
    <h2>{% trans "Ваш ребенок заслуживает лучшего – а мы поможем вам в этом!" %}</h2>
    <p>{% trans "Присоединяйтесь к DAMUWAY и сделайте родительство проще и счастливее!" %}</p>
    <a href="/user/register" class="btn">{% trans "Начать работу" %}</a>
</div>
{% endblock %}
