{% extends 'base.html' %}
{% load static %}

{% block title %}Спортивные клубы | Damuway{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sport/sport.css' %}">
{% endblock %}

{% block content %}
<div class="sport-list-container">
  <h1>Спортивные клубы</h1>
  <div class="club-list">
    {% for club in clubs %}
    <a href="{% url 'sport:club_detail' club.pk %}" class="club-card">
      <h2>{{ club.name }}</h2>
      <p>{{ club.get_sport_type_display }} • {{ club.city }}</p>
      <span class="price">{{ club.price }} ₸ / мес</span>
    </a>
    {% empty %}
    <p>Нет клубов для отображения.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
