{% extends 'base.html' %}
{% load static %}

{% block title %}Damuway - Вход{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-container">


        <div class="login-card">
            <h1 style="color: #714EFF">Вход в аккаунт</h1>
            <p class="subtitle">Добро пожаловать на Damuway</p>

            <form method="post" class="login-form">
                {% csrf_token %}
                
                <div class="input-group">
                    <label for="id_username">Имя пользователя</label>
                    <input type="text" id="id_username" name="username" required>
                </div>

                <div class="input-group">
                    <label for="id_password">Пароль</label>
                    <input type="password" id="id_password" name="password" required>
                    <a href="{% url 'password_reset' %}" class="forgot-password">Забыли пароль?</a>
                </div>

                <button type="submit" class="login-btn">Войти</button>
            </form>
        </div>

        <div class="register-redirect">
            Ещё нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
    </div>
</div>
{% endblock %}