<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля Damuway</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap">
    <link rel="stylesheet" href="{{ absolute_static_url }}/user/css/password_reset_email.css">
</head>
<body>
    <div class="email-container">
        <div class="logo" style="color: #714EFF">Damuway</div>
        
        <div class="content">
            <p>Здравствуйте, <strong>{{ user.username }}</strong>!</p>
            
            <p>Вы запросили сброс пароля на сайте {{ domain }}.</p>
            
            <div class="button-container">
                <a href="http://{{ domain }}/reset/{{ uid }}/{{ token }}/" class="button">
                    Сбросить пароль
                </a>
            </div>
            
            <p class="link-text">Или скопируйте эту ссылку:</p>
            <p class="link-url">http://{{ domain }}/reset/{{ uid }}/{{ token }}/</p>
            
            <hr>
            
            <p class="footer-text">Если вы не запрашивали сброс, проигнорируйте это письмо.</p>
        </div>
        
        <div class="footer">
            <p>С уважением,<br>Команда Damuway</p>
        </div>
    </div>
</body>
</html>