{% extends 'base.html' %}
{% load static %}

{% block title %}Оставить отзыв | Damuway{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/massage/massage.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1>📝 Отзыв о {{ center.name }}</h1>

  <form method="post" class="styled-form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.author.label_tag }}
      {{ form.author }}
    </div>
    <div class="form-group">
      {{ form.rating.label_tag }}
      {{ form.rating }}
    </div>
    <div class="form-group">
      {{ form.comment.label_tag }}
      {{ form.comment }}
    </div>
    <button type="submit" class="submit-btn">Отправить</button>
  </form>
</div>
{% endblock %}
